﻿
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestLogin</title>

    <script src="~/Scripts/jquery.1.8.2.js"></script>
    <script src="~/Scripts/Loginvalidation.js"></script>
    <script src="~/Content/js/jqueryvalidation.min.js"></script>
    <script>

        function fn_validate() {
            $(document).ready(function () {

                //if (document.getElementById("txtSGID").value() == "") {
                //    alert("Enter the User ID");
                //    return false;
                //        }
                        var strUsername = $('#txtSGID').val();
                        var strSgid = document.getElementById("txtSGID");

            });
            }

    </script>
</head>
<body>
    <form id="frm_WorkExperience" name="frm_WorkExperience" action="@Url.Action("Dummylogin")" method="post">
        <input type="hidden" id="hdnTimeZoneId" name="hdnTimeZoneId" />
        <table align="left" class="tbl_show">
            <tr>
                <td colspan="3" class="fragment-06" style="width:800px;">
                    <table align="left">
                        <tr>
                            <td style="padding-left:5px;">
                                <br>
                                <table>
                                    <tr>
                                        <td>
                                            @Html.TextBox("txtSGID", "", new { @id = "txtSGID", @name = "txtSGID", @class = "textbox", style = "height:17px;width:150px", @maxlength = "12" })
                                            <button type="submit" id="btnTemp" name="btnTemp" onclick="return fn_validate();" formaction="@Url.Action("/Dummylogin")" style="cursor:pointer;padding-left:10px;" formmethod="post">Login</button>
                                        </td>
                                    </tr>
                                </table><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="right"></td>
            </tr>
        </table>
    </form>

</body>
</html>
