﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            @*<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>*@
                            <div class="col-lg-12">
                                <div class="p-2" style="background-color:#fff !important;">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4"><img src="~/Content/Img/SGNewLogo.png" style="width:130px;" /></h1>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">TimeTrack!</h1>
                                    </div>
                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-4">
                                                <button class="btn btn-primary btn-user btn-block">
                                                    Login
                                                </button>
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>
                                    </div>
                                    <hr style="margin-bottom:0px;">

                                    <div class="text-center">
                                        <small class="small">Saint-Gobain confidential!</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.js"></script>
    <script src="~/Content/js/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        var _BackImage = '@Url.Content("~/Content/img/Timesheet.jpg")';
            $.backstretch(_BackImage);
        });
    </script>
</body>
</html>
