﻿@{

    Layout = "~/Views/Shared/_main.cshtml";
}

<link href="~/Content/css/dashboard.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet" />
<script src="~/Content/js/jquery1.7.2.js"></script>
<!---Datepicker Plugin-->
<!---Datatable Plugins-->
<link href="~/Content/css/dataTables.bootstrap4.css" rel="stylesheet" />
<!---Chart Plugins-->
<script src="~/Content/js/chart.min.js"></script>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h6 class="h4 mb-0 text-gray-800">Project Details</h6>
</div>
<!-- Content Row -->


<div class="row">
    <input type="hidden" id="HdnYearMoth" name="HdnYearMoth" />
    <input type="hidden" id="HdnTaskDate" name="HdnTaskDate" />
    <input type="hidden" id="HdnSTaskDate" name="HdnTaskDate" />
    <input type="hidden" id="hdntaskDate" name="hdntaskDate" />
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        @*<div class="col-lg-12 col-sm-12 col-md-8">*@
        <div class="card border-left-info shadow h-100 py-2 DivProjectNames" data-toggle="modal" data-target="#DivModal">
            <div class="card-body p-2 pt-1 pb-1">
                <table style="width:70%;">
                    <tr>
                        <td>SEFPRO-AZS-Palakkad</td>
                        <td rowspan="3" align="center" class=" col-sm-4 pl-2 pr-2 bg-warning">
                            <h4 class="mb-0">110</h4>
                            <small>Hours</small>
                        </td>
                    </tr>
                    <tr><td><small> Project Tracker V2 for SGRI and Global Team</small></td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <small>
                                @DateTime.Now.AddDays(-10).ToString("dd-MM-yyyy")
                            </small>
                        </td>
                        <td align="center"><small class="gray">11 Days</small></td>
                    </tr>
                    <tr><td><canvas id="doughnutchart1"></canvas></td></tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2  DivProjectNames" data-toggle="modal" data-target="#DivModal">
            <div class="card-body p-2 pt-1 pb-1">
                <table style="width:70%;">
                    <tr>
                        <td>SEFPRO – Perundurai</td>
                        <td rowspan="3" align="center" class=" col-sm-4 pl-2 pr-2 bg-warning">
                            <h4 class="mb-0">100</h4>
                            <small>Hours</small>
                        </td>
                    </tr>
                    <tr><td><small>Project Testcription </small></td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <small>
                                @DateTime.Now.AddDays(-10).ToString("dd-MM-yyyy")
                            </small>
                        </td>
                        <td align="center"><small class="gray">20 Days</small></td>
                    </tr>
                    <tr>
                        <td><canvas id="doughnutchart2"></canvas></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2 DivProjectNames" data-toggle="modal" data-target="#DivModal">
            <div class="card-body p-2 pt-1 pb-1">
                <table style="width:70%;">
                    <tr>
                        <td>GNO-Coated Abrasives-Bengaluru</td>
                        <td rowspan="3" align="center" class=" col-sm-4 pl-2 pr-2 bg-warning">
                            <h4 class="mb-0">75</h4>
                            <small>Hours</small>
                        </td>
                    </tr>
                    <tr><td><small>Lehr Blower Energy monitoring</small></td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <small>
                                @DateTime.Now.AddDays(-20).ToString("dd-MM-yyyy")
                            </small>
                        </td>
                        <td align="center"><small class="gray">10 Days</small></td>
                    </tr>
                    <tr>
                        <td><canvas id="doughnutchart3"></canvas> </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2 DivProjectNames" data-toggle="modal" data-target="#DivModal">
            <div class="card-body p-2 pt-1 pb-1">
                <table style="width:70%;">
                    <tr>
                        <td>SEFPRO-AZS-Palakkad</td>
                        <td rowspan="3" align="center" class=" col-sm-4 pl-2 pr-2 bg-warning">
                            <h4 class="mb-0">50</h4>
                            <small>Hours</small>
                        </td>
                    </tr>
                    <tr><td><small>Proj Desc</small></td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <small>
                                @DateTime.Now.AddDays(-10).ToString("dd-MM-yyyy")
                            </small>
                        </td>
                        <td align="center"><small class="gray">60 Days</small></td>
                    </tr>
                    <tr>
                        <td><canvas id="doughnutchart4"></canvas> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--Table starts-->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-calendar" aria-hidden="true" title="calendar"></i>  Calendar</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper" id="dataTable_wrapper">
                        <div class="row">
                            <div class="col-sm-10 col-md-10">
                                <div class="form-actions">
                                    <table style="width:100%;" align="center" id="tablecalendar">
                                        <tr>
                                            <td align="center" style="padding-left:5px;">
                                                <h6 class="m-0 font-weight-bold text-primary"><span><button type="button" style="margin-right: 100px;" class="btn btn-primary" id="btnLeft">Previous Month</button> </span>  September 2019   @*@DateTime.Now.ToString(" MMMM yyyy")*@       <button type="button" style="margin-left: 100px;" class="btn btn-primary" id="btnRight">Next Month</button></h6>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div class="dataTables_filter" id="dataTable_filter" onkeyup="myFilter(this.id)">
                                    <label>
                                        Search:
                                        <input class="form-control form-control-sm" aria-controls="dataTable" type="search" title="search" placeholder="">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 lg-12">
                                <table class="table table-bordered dataTable" id="tblTLView" role="grid" aria-describedby="dataTable_info" style="width: 100%;" cellspacing="0" @*data-toggle="modal" data-target="#DivModal"*@> </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---MODAL POPUP-->
<div class="modal fade" id="DivModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <h6 class="m-0 font-weight-bold text-primary">
                    Record task for ( <label id="LbltaskDate"></label> )   @*@DateTime.Now.ToString("dd-MMM-yyyy")*@
                </h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- modal body -->
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-lg-12 col-md-12 col-sm-12">*@
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="programname">Program Name<span class="mandatory"> *</span></label>
                            <select class="form-control" title='Programtype' id="ddlProgramType" name="ddlProgramType">
                                <option value="">Select</option>
                                <option value="1">one</option>
                                <option value="1">one</option>
                                <option value="1">one</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">

                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="date">Date <span class="mandatory"> *</span></label>
                                            <input type="text" title='Date' class="form-control txtDatePicker" id="txtDate" name="txtDate" maxlength="12" data-inputmask-alias="dd-mm-yyyy" data-val="true" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtEndTime">Start Time <span class="mandatory"> *</span></label>
                                            <input class="form-control clockpicker" title='Starttime' id="txtStartTime" name="txtStartTime" placeholder="starttime" readonly style="background-color:#FFF;" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtEndTime">End Time <span class="mandatory"> *</span></label>
                                            <input class="form-control clockpicker" title='Endtime' id="txtEndTime" name="txtEndTime" placeholder="endtime" readonly style="background-color:#FFF;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <table class="mt-5 w-100 bg-warning">
                                    <tr>
                                        <td align="center">
                                            <label class="h4 mt-4">0 Hrs</label>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="email">Project Type <span class="mandatory"> *</span></label>
                            <select class="form-control" title='Projecttype' id="ddlProjectType" name="ddlProjectType">
                                <option value="">Select</option>
                                <option value="1">one</option>
                                <option value="1">one</option>
                                <option value="1">one</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="email">Description <span class="mandatory"> *</span></label>
                            <select class="form-control" title='Description' id="ddldescription" name="ddldescription">
                                <option value="">Select</option>
                                <option value="1">one</option>
                                <option value="1">one</option>
                                <option value="1">one</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- modal footer -->
            <div class="modal-footer">

                <div class="alert alert-danger Mb-0" id="lblerror" style="display:none;line-height:6px;">
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary btn-sm" title='Save' id="btnsave">
                        <i class="fas fa-check"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" title='Close' id="btnclose" data-dismiss="modal">
                        <i class="fas fa-close"></i>
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <!---Datepicker Plugin-->
    <link href="~/Content/css/bootstrap-clockpicker.min.css" rel="stylesheet" />
    <script src="~/Content/js/TimePicker/clockpicker.js"></script>
    @*<link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
        <link href="~/Content/js/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />
        <script src="~/Content/js/TimePicker/clockpicker.js"></script>
        <script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/Content/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>>
         <script src="~/Content/js/jqueryvalidation.min.js"></script>
         <script src="~/Content/js/app.min.js"></script>*@
    @*<!---Datepicker Plugin-->*@
    <script src="~/Content/js/Datepicker/jquery-uimin.js"></script>
    @*<script src="~/Content/js/Datepicker/jquery.inputmask.bundle.min.js"></script>
        <script src="~/Content/js/Datepicker/input-ip-address-control-1.0.min.js"></script>*@

    <script>
        //var FormInputMask = function () {
        //    var a = function () {
        //        var d = new Date();
        //        var _year = d.getFullYear();
        //        var _MinYear = parseInt(_year) - 50;

        //        var _maxYear = parseInt(_year) - 18;

        //        $(".txtDatePicker").inputmask("d-m-y",
        //         {
        //             placeholder: "dd-mm-yyyy",
        //             //    yearrange: { minyear: _MinYear, maxyear: _maxYear },
        //             alias: "dd-mm-yyyy"
        //         });


        //    }
        //    var b = function () {

        //        $(".txtDatePicker").inputmask('d-m-y h:s', {
        //            //   mask: "2/1/y h:s:s t\m",
        //            alias: "dd-mm-yyyy hh:ss",
        //            placeholder: "dd-mm-yyyy hh:ss",
        //            separator: '-',
        //            hourFormat: "24"
        //        });
        //    }
        //    return {
        //        init: function () {
        //            a()
        //            //, b()
        //        }
        //    }
        //}(); App.isAngularJsApp() === !1 && jQuery(document).ready(function () { FormInputMask.init() });
        $("#btnLogout").click(function () {
            window.location.replace("http://localhost:56325/login/dummylogin");
        });
        $("#btnsave").click(function () {
            if ($("#txtDate").val() == "") {
                $("#lblerror").css("display", "");
                $("#lblerror").html("<i class='fa fa-exclamation-triangle'></i> Please enter the date ");
                return false;
            }
            else {
                $("#lblerror").css("display", "none");
                $("#lblerror").html("");
            }
            if ($("#txtStartTime").val() == "") {
                $("#lblerror").css("display", "");
                $("#lblerror").html("<i class='fa fa-exclamation-triangle'></i> Please enter the  start time ");
                return false;
            }
            else {
                $("#lblerror").css("display", "none");
                $("#lblerror").html("");
            }
            if ($("#txtEndTime").val() == "") {
                $("#lblerror").css("display", "");
                $("#lblerror").html("<i class='fa fa-exclamation-triangle'></i>  Please enter the  end time ");
                return false;
            }
            else {
                $("#lblerror").css("display", "none");
                $("#lblerror").html("");
            }
            if ($("#ddlProjectType").val() == "") {
                $("#lblerror").css("display", "");
                $("#lblerror").html("<i class='fa fa-exclamation-triangle'></i> Please enter the Project type");
                return false;
            }
            else {
                $("#lblerror").css("display", "none");
                $("#lblerror").html("");
            }
            if ($("#txtDescription").val() == "") {
                $("#lblerror").css("display", "");
                $("#lblerror").html("<i class='fa fa-exclamation-triangle'></i> Please enter the description ");
                return false;
            }
            else {
                $("#lblerror").css("display", "none");
                $("#lblerror").html("");
            }
        });

        $("#DivModal").on('shown.bs.modal', function (e) {
            $('.Mb-0').hide();
        });

        $(document).ready(function () {
            $('.clockpicker').clockpicker({
                autoclose: true
            });



        });
        var dateToday = new Date();
        $(".txtDatePicker").datepicker({
            format: 'dd-M-yyyy',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            autoclose: true,
            startDate: dateToday,
        }).on("changeDate", function (e) {


        });

        new Chart(document.getElementById("doughnutchart1"), {
            type: 'doughnut',
            data: {

                datasets: [
                  {
                      label: "Population (millions)",
                      backgroundColor: ["rgba(179,181,198,1)",
                        "rgba(255,69,13,0.6)",
                         "rgba(190,11,118,0.6)",
                          "rgba(100,41,28,0.6)",
                          "rgba(192,91,98,0.6)"],
                      borderColor: '#e6fff7',

                      data: [247, 526, 734, 784, 433]
                  }
                ]
            },


            options: {
                title: {
                    display: true,

                }
            }
        });
        new Chart(document.getElementById("doughnutchart2"), {
            type: 'doughnut',
            data: {

                datasets: [
                  {
                      label: "Population (millions)",
                      backgroundColor: ["rgba(179,181,198,1)",
                     "rgba(255,69,13,0.6)",
                         "rgba(190,11,118,0.6)",
                          "rgba(100,41,28,0.6)",
                          "rgba(192,91,98,0.6)"],
                      borderColor: '#e6fff7',

                      data: [247, 526, 734, 784, 433]
                  }
                ]
            },


            options: {
                title: {
                    display: true,

                }
            }
        });
        new Chart(document.getElementById("doughnutchart3"), {
            type: 'doughnut',
            data: {

                datasets: [
                  {
                      label: "Population (millions)",
                      backgroundColor: ["rgba(179,181,198,1)",
                  "rgba(255,69,13,0.6)",
                         "rgba(190,11,118,0.6)",
                          "rgba(100,41,28,0.6)",
                          "rgba(192,91,98,0.6)"],
                      borderColor: '#e6fff7',

                      data: [247, 526, 734, 784, 433]
                  }
                ]
            },


            options: {
                title: {
                    display: true,

                }
            }
        });
        new Chart(document.getElementById("doughnutchart4"), {
            type: 'doughnut',
            data: {

                datasets: [
                  {
                      label: "Population (millions)",
                      backgroundColor: ["rgba(179,181,198,1)",
                     "rgba(255,69,13,0.6)",
                         "rgba(190,11,118,0.6)",
                          "rgba(100,41,28,0.6)",
                          "rgba(192,91,98,0.6)"],
                      borderColor: '#e6fff7',

                      data: [247, 526, 734, 784, 433]
                  }
                ]
            },


            options: {
                title: {
                    display: true,

                }
            }
        });
        $(document).ready(function () {
            $("#HdnTaskDate").val();
            FN_LoadMonth("", "PRE")

        });
        $(document).on("click", '#btnRight', function (event) {



            FN_LoadMonth("", "PRE")
        });
        $(document).on("click", '#btnLeft', function (event) {


            FN_LoadMonth("01-Oct-2019", "PRE")
        });

        $(document).on("click", '.EmptblTDDates', function (event) {
            //debugger;
            var celldate = $(this).index();
            var _TrIndex = parseInt($(this).index()) + 1;
            var _SGID1 = $(this).closest('tr').find('td:eq(1)').html();
            var _SGID = $(this).closest('tr').find('td:eq(2)').html();
            var _Date = $(".LeaveApprovalHdr").find("." + _TrIndex).attr('id');

            if (_Date != "") {
                FnLoadTaskdetails(_Date)

            }
            //$('.present').click(function (e) {
            //    debugger;
            //    e.preventdefault();
            //    if (colText == '') {
            //        $('#divmodal').modal('hide');
            //    }
            //    else {

            //alert(_Date)
            //$('#divmodal').modal('show');
            //    }

            //});
            //if (_Date != "") {
            //    //FnLoadEMPTaskdetails(_Date, _SGID);
            //}

        });
        $(document).on("click", '.tblTDDates', function (event) {
            var _TrIndex = parseInt($(this).index()) + 1;
            var_Date = $(".LeaveApprovalHdr").find("." + _TrIndex).attr('id')


        });


        var _Urls = "@Url.Action("LoadMonthtaskDetails", "Home")";

        var _PreNext = "PRE";
        var _Date = "01-Oct-2019";
        function FN_LoadMonth(_Date, _PreNext) {


            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: "{' strDate':'" + _Date + "','strPreNext':'" + _PreNext + "'}",
                url: _Urls,
                dataType: "json",
                success: function (data) {
                    //debugger;
                    $("#tblTLView").empty("");
                    var _Dynamicdata = "";
                    var _Dynamicactive = "";

                    var taskdetails = JSON.parse(data.JsonTable);

                    var rowsData = JSON.parse(data.JsonTableData);

                    _Dynamicdata += "  <table>";
                    _Dynamicdata += "  <tr><td colspan='12'><table id='tblTLView' class='table table-bordered dataTable' > ";
                    _Dynamicdata += "<tr class ='LeaveApprovalHdr'>";

                    if (data.length != 0) {
                        var _CurrentDate = CurrentDate("");
                        var _HighLight = "";
                        var _CRDateLoop = 0;
                        var _CRDatePOS = 0;
                        var _Loop = 1;
                     //   debugger;
                        $.each(taskdetails[0], function (index, rows) {
                            if (_Loop >= 5) {
                                if (_CurrentDate == index) {
                                    _HighLight = "LblHightLight"
                                    _CRDatePOS = _Loop;
                                }
                                else {
                                    _HighLight = "";
                                }

                                _Dynamicdata += " <td style='white-space:nowrap;' class='" + _Loop + " tblTDDate " + _HighLight + "' id=" + index + " ><b>" + index.substring(0, 2) + "</b></td>";
                                var yearmoth = index.split('-')[1] + '-' + index.split('-')[2];
                                $("#hdnyearmoth").val(yearmoth);
                            }
                            else {
                                _Dynamicdata += " <td  class=" + _Loop + " style='white-space:nowrap;' ><b>" + index + "</b></td>";
                            }
                            if (_Loop == 5) {
                                $("#HdnSTaskDate").val(index);
                            }
                            $("#HdnTaskDate").val(index);
                            _Loop = _Loop + 1;
                        });
                    }
                    _Dynamicdata += " </tr> </thead>";
                    _Dynamicdata += " <tbody> ";

                    //==TABLE BODY==//
                    var _TotLen = taskdetails.length;
                    var clr;
                    var _SGID = "";
                    for (var _i = 0; _i <= (_TotLen - 1) ; _i++) {
                        _Dynamicdata += "<tr >";
                        var _Loop = 1;
                        $.each(taskdetails[_i], function (index, value) {
                            if (_Loop == 3) {
                                _SGID = value;
                            }
                            if (_Loop <= 4) {
                                //heading , name ,sgid binding //

                                _Dynamicdata += " <td rowspan ='2'class='EmptblTDDates' style='font-weight:normal;font-family:verdana;font-size:12px;text-align:center;white-space:nowrap; id='" + value + "'  class='" + _HighLight + "'>" + value + "</td>";

                            }
                            else {

                                _Dynamicdata += "<td  align='center' style='font-weight:normal;font-family:verdana;font-size:12px;text-align:center;white-space:nowrap;id='" + value + "'  class='EmptblTDDates' " + _HighLight + "'>" + value + "</td>";

                            }

                            _Loop = _Loop + 1;
                        });

                        _Dynamicdata += "</tr>";
                        var _InnerLoop = 1;
                        _Dynamicdata += "<tr >";
                        $.each(rowsData[_i], function (index, value) {
                            if (_InnerLoop <= 2) {
                            }
                            else {
                                _Dynamicdata += "<td id= test1_row1;  align='center'  id='" + value + "' class='highlight' style='font-weight:normal;font-family:verdana;font-size:12px;text-align:center;white-space:nowrap;' class='" + _HighLight + "'>" + value + " </td>";


                                // _Dynamicdata += "<td align='left' id='" + value + "' class='EmptblTDDates' style='font-weight:normal;font-family:verdana;font-size:12px;text-align:left;white-space:nowrap;' class='" + _HighLight + "'></td>";

                            }



                            // debugger;
                            _InnerLoop = _InnerLoop + 1;
                        });
                        _Dynamicdata += "</tr>";

                    }
                    _Dynamicdata += " </tbody></table> ";
                    _Dynamicdata += " </table> ";
                    $("#tblTLView").append(_Dynamicdata);
                    $("#tblLocation tbody").append(_Dynamicactive);
                    $("#lblMonthYear").text($("#HdnYearMoth").val().toUpperCase());




                    $(function () {
                        $(".EmptblTDDates").each(function () {
                            //  debugger;
                            var clr;
                            var colText = $(this).text().trim();

                            if (colText != '') {
                                var startDate = new Date("1/1/1900 " + colText);
                                var endDate = new Date("1/1/1900 " + '10:00');

                                if (startDate < endDate) {
                                    $(this).addClass('present');
                                    $(this).css('background-color', "rgb(255, 153, 153)");
                                    $('.present').click(function (e) {
                                       // alert();
                                    //  alert('hi');
                                        e.preventdefault();
                                        //debugger;
                                     $('#divmodal').modal('show');

                                    });
                               } else {
                                   $(this).css('background-color', "rgb(255,255,255)");
                                }

                            }




                        });
                    });

                    //    switch (colText.trim()) {
                    //        case 'AB':
                    //            $(this).css("background-color", "#f6c7c7");
                    //            break;
                    //        case 'NH':
                    //            $(this).css("background-color", "#9bdeea");
                    //            break;
                    //        case 'WO':
                    //            $(this).css("background-color", "#9bdeea");
                    //            break;
                    //        case 'EL':
                    //            $(this).css("background-color", "#77d470");
                    //            break;
                    //        case 'CL':
                    //            $(this).css("background-color", "#77d470");
                    //            break;
                    //        case 'SL':
                    //            $(this).css("background-color", "#77d470");
                    //            break;
                    //        case 'PR':
                    //            $(this).addClass('present');
                    //            $('.present').click(function () {

                    //                $("#DivModal").modal("show");


                    //            });`
                    //            break;
                    //        case 'PR/AB':
                    //            $(this).addClass('prab');
                    //            break;
                    //        default:
                    //            $(this).css("background-color", "#FFF");
                    //    }
                    //});

                    //$('#PR').addClass('EmptblTDDates');
                    //$("#DivModal").modal("show");
                    //});


                    //$(document).on("click", 'present', function (event) {
                    //    debugger;
                    //    $("#DivModal").modal("show");

                    //});


                    // to display current date //
                    function CurrentDate(strDates) {
                        var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
                        var d = new Date();
                        var curr_date = d.getDate();
                        var curr_month = d.getMonth();
                        var curr_year = d.getFullYear();
                        return strDates = (curr_date < 10 ? '0' : '') + curr_date + "-" + m_names[curr_month] + "-" + curr_year;
                    }
                    function CurrentDateMins(strDates) {
                        var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
                        var today = new Date();
                        var lastWeekDate = new Date(today.setDate(today.getDate() - 7));

                        var curr_date = lastWeekDate.getDate();
                        var curr_month = lastWeekDate.getMonth();
                        var curr_year = lastWeekDate.getFullYear();
                        return strDates = (curr_date < 10 ? '0' : '') + curr_date + "-" + m_names[curr_month] + "-" + curr_year;
                    }


                    return false;
                },

                error: function (result) {

                }

            });
        }


        function FnLoadTaskdetails(ids) {

            $("#LbltaskDate").html(ids)
            $("#hdntaskDate").val(ids);
           // debugger;
            var _GivenDate = ids;
            var SGID = "M2100826";
            var _PreNext = "";
            var _Date = "01-Oct-2019";
            var _Urls = "@Url.Action("GetEMPtaskDetails", "Home")";

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: _Urls,
                data: "{'strDate':'" + _Date + "','SGID':'" + + "strSGID'}",
                dataType: "json",
                success: function (data) {
                  //  debugger;
                    var programname = JSON.parse(data.JsonTable1);
                    var projectname = JSON.parse(data.JsonTable2);
                    var description = JSON.parse(data.JsonTable3);
                    var editmode = JSON.parse(data.JsonTable4);
                    var totalhrs = JSON.parse(data.JsonTable5);
                    var taskdetails = JSON.parse(data.JsonTable6);
                    $('#ddlProgramType').empty();
                    $('#ddlProgramType').append("<option value=''>--Select--</option>");

                    $('#ddlProjectType').empty();
                    $('#ddlProjectType').append("<option value=''>--Select--</option>");

                    $('#ddldescription').empty();
                    $('#ddldescription').append("<option value=''>--Select--</option>");


                    $.each(data.programname, function (index, rows) {
                        $('#ddlProgramType').append($('<option>', {
                            value: rows.strCode,
                            text: rows.strDesc
                        }))
                    })
                    $.each(data.projectname, function (index, rows) {
                        $('#ddlProgramType').append($('<option>', {
                            value: rows.strCode,
                            text: rows.strDesc
                        }))
                    })

                },
                error: function (result) {

                    //alert(result)
                  //  alert("Error");
                }
            });
        }




    </script>
}