﻿  .DivProjectNames:hover {
        background-color: #e5e4e4;
        cursor: pointer;
    }

    .mandatory {
        color: red;
    }

    .border-left-info {
        border-left: 0.20rem solid #36b9cc !important;
    }

    .border-left-success {
        border-left: .20rem solid #1cc88a !important;
    }

    .border-left-warning {
        border-left: .20rem solid #f6c23e !important;
    }

    .table {
        color: rgba(24, 24, 27, 1);
    }

    .table {
        border-collapse: collapse;
    }

    th, td {
        white-space: nowrap;
    }

    .body {
        cursor: pointer;
    }
    .bg-warning{
        height:75px;
    }
     .dangeralert{
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 0px;
   }
      Mb-0{
         line-height: 6px;
         display:none;
     }
        .red {
        background-color: #f6c7c7;
    }
    .blue {
        background-color: #9bdeea;
    }
    td {
        height:10px;
        text-align:center;
    }
    .table{
        cursor:pointer;
    }
    .modal-body{
         cursor:pointer;
    }